<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="gama.build.processor.GamaProcessor"
         name="gama.build.processor.GamaProcessor"
         point="org.eclipse.jdt.apt.core.annotationProcessorFactory">
      <java6processors
            enableDefault="true">
         <java6processor
               class="gama.build.processor.GamaProcessor">
         </java6processor>
      </java6processors>
   </extension>

</plugin>
